.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-image: url("/images/home-screen.png");
  background-size: cover;
  background-position: center;
  border-radius: 0.2rem;
  overflow: hidden;
}
.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .preloader {
    width: 90%;
  }
}
